<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>YETI CAM</title>
  <meta name="description" content="">
  <meta name="author" content="">

  {{ JSGlue.include() }}
  <script type=text/javascript src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type=text/javascript src="{{ url_for('static', filename='js/viewer.js') }}"></script>

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body style="background-image: url({{ url_for('static', filename='images/background-dark.png') }}); background-repeat: repeat">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" style="margin-top: 10%">
        <div class="five columns">
            <h5>YETI CAM</h5>
        </div>
        <div class="seven columns">
            <div class="u-max-full-width" id="online-indicator" style="padding-top:8px"  hidden>
                <span class="indicator" style="content: url({{ url_for('static', filename='images/indicator-green.png') }});"></span>
                <span>Online</span>
            </div>
            <div class="u-max-full-width" id="offline-indicator" style="padding-top:8px">
                <span class="indicator" style="content: url({{ url_for('static', filename='images/indicator-grey.png') }});"></span>
                <span>Offline</span>
            </div>
        </div>

    </div>
    <div class="row">
      <div>
    	<img id="current" src="{{ url_for('upload_folder', filename='current.jpg') }}" />
      </div>
    </div>
    <div class="row">
      <div class="column" id="status">
        <h5>Loading status...</h5>  	
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
